<%- include("header") -%>

<h1>Hiiiii</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo rerum explicabo quod beatae magni quidem eveniet, nesciunt voluptatibus consequuntur odit. Quam suscipit quisquam deleniti asperiores ipsum! Praesentium molestiae possimus vero?</p>
<%- include("footer") -%>



